
body{
  width: 100%;
  height:100vh;
  margin:0;
  background-color: #B3ACAC;
  color:#000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1.2vw;
}

header{
    width: 100%;
    height: 5vh;
    top:0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

}

button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0.5em 1.5em;
    padding: 0;
}

.dropdown-toggle {
    background-color: #B3ACAC;
    color: rgb(0, 0, 0);
    border: none;
    margin: 0 ;
    padding: 0;
    cursor: pointer;
    min-width: 10vh;
    min-height: 5vh;
    text-decoration-line: underline;
}


.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.62);
    min-width: 24vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: rgb(0, 0, 0);
    padding: 1vh 1vh;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    color: rgb(255, 255, 255);
    background-color: #575757;
}


section{
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
}



img{
    width: 6vh;
    height: 6.5vh;
    margin: 0;
}

.person{
    margin-right: 0.2em;
    
}

form, .form{
    width:50%;
    margin: 2em auto;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.62);
    border-radius: 1.5vh;
}


fieldset, .prace {
    border: none;
    margin:0.5em 2.5em;
    padding:0.2em 0;
}

label, p{
    display:block;
    margin:0.5em 0;
}

.order_weight, .order_volume, .house, .apartment, .two{
    display:inline-block;
    width:40%;
    margin-right: 0.7em;
}

.big, select, textarea{
    display:block;
    width:100%;
    margin:0.2em 0;
}

.my_form input{
    font-size:1.2vw;
}

select, textarea{
    font-size:1.2vw;
}

.plus{
    margin: 0.7em 0;
}

input[type="submit"]{
    display: block;
    width: 50%;
    margin: 0.6em auto;
    height: 8vh;
    font-size: 1.4em;
    background-color:#B3ACAC;
    color:rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    border-radius: 1vh;
  }

input[type="submit"]:hover{
    cursor: pointer;
}

h2{
    text-decoration-line: underline;
}

.uppercase{
    text-transform: uppercase;
    text-decoration: none;
    font-weight:lighter;
    margin-right: 0.5em;
}

.small{
    text-transform:none;
    font-weight: bold;
    text-decoration: none;
}

.role{
    margin: auto  0.5em;
    
}

.man{
    margin-top: 0.3em;
    text-align: center;
}

#logout{
  margin-top: 0.8em;
  margin-right: 0.3em;
  padding: 0;
}


#login{
    width:50%;
    margin: 8em auto;
    padding: auto;
    background-color: rgba(255, 255, 255, 0.62);
    border-radius: 1.5vh;
    text-align: center;
    
}

.login{
    width:50%;
    margin: 2em auto;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    text-align: left;
    font-size: 1.2em;
    gap: 2em;
}

#log, #pas{
  font-size: 1.2em;
  border: none; 
  border-bottom: 2px solid #000;
  padding: 5px; 
  width: 100%; 
  outline: none; 
  background-color: rgba(255, 255, 255, 0.62);
}
#log:focus {
    color: #575757; }

#pas:focus {
    color: #575757; }

.all_deliver{
    width:80%;
    margin: 2em auto;
    padding: auto;
    background-color: rgba(255, 255, 255, 0.62);
    border-radius: 1.5vh;
    text-align: center;
}

table{
    width: 100%;
    margin: 0%;
    padding: 0.5em 0;
    border-collapse: collapse;
}

td, th{
    border: 2px solid #000;
    margin: 0;
    padding: 0;
}

.about_text{
    margin-right: 0.5em;
}

.some{
    margin-right: 2em;
}

.center{
    margin: 0 auto;
    padding:  0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.marg{
    margin: 0 auto;
}
