{% load static %}
<header>
    <div class="dropdown">
        <button class="dropdown-toggle">Обрати сторінку</button>
        <div class="dropdown-menu">
            <a href='{% url "index" %}'>Головна</a>
            <a href='{% url "clients-info" %}'>Список клієнтів</a>
            <a href='{% url "create-client" %}'>Створити клієнта</a>
            <a href='{% url "create-order" %}'>Створити доставку</a>
        </div>
    </div>
    <section>
        <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
        <img class="person" src="{% static 'img/person.png' %}">
        <form id="logout" action='{% url "logout" %}' method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </section>
</header>