{% extends 'base.html' %}
{% block content %}
<form class="all_deliver" method="post">
    <table>
        <thead>
            <tr>
                <th>Дата доставки</th>
                <th>Код доставки</th>
                <th>ПІБ водія</th>
                <th>Код транспорту</th>
                <th>ПІБ менеджера</th>
                <th>Клієнт</th>
                <th>Вартість доставки</th>
                <th>Статус доставки</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Дані</td>
                <td>Дані</td>
                <td>Дані</td>
                <td>Дані</td>
                <td>Дані</td>
                <td>Дані</td>
                <td>Дані</td>
                <td>Дані</td>
            </tr>
        </tbody>
    </table>
</form>
{% endblock %}
