{% extends 'base.html' %}
{% block content %}
<!--<form class="all_deliver" method="post">-->

<form method="GET">
    {% csrf_token %}
    {{ form.client.label_tag }}
    {{ form.client }}
    {{ form.order.label_tag }}
    {{ form.order }}
    <input id="submit" type="submit" value="Фільтрувати"></input>
</form>
<div class="all_deliver">
    <table>
        <thead>
            <tr>
                <th>Дата доставки</th>
                <th>Код доставки</th>
                <th>ПІБ водія</th>
                <th>Код транспорту</th>
                <th>ПІБ менеджера</th>
                <th>Клієнт</th>
                <th>Вартість доставки</th>
                <th>Статус доставки</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.ship_date|date:"d.m.Y" }}</td>
                <td><a href="{% url 'order-info' order.pk %}">{{ order.order_number }}</a></td>
                <td>{{ order.driver.name }}</td>
                <td>{{ order.driver.vehicle_code }}</td>
                <td>{{ order.manager.first_name }}</td>
                <td>{{ order.client.name }}</td>
                <td>{{ order.delivery_amount }}</td>
                <td>{{ order.get_status_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!--</form>-->
{% endblock %}
